*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
*.jks
*.keystore
google-services.json
freeline.py
freeline/
vcs.xml
*.hprof
.DS_Store
Thumbs.db
secrets.properties
signing.properties
